{% import "navbar.html" as macros %}
{{macros.build_site_navigation(pages=pages, selected="Add")}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <h1 class="center">Helpers List</h1>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/helpers.css') }}">
</head>

<body>
  <div class="content">
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    {% block content %} {% endblock %}
  </div>

  <div class="container">
    <form action="/addHelper" method="post">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="code">Code:</label><br>
      <input type="text" id="code" name="code"><br>
      <label for="status">Status:</label><br>
      <input type="text" id="status" name="status"><br>
      <label for="nationality">Nationality:</label><br>
      <input type="text" id="nationality" name="nationality"><br>
      <label for="medical">Medical:</label><br>
      <input type="text" id="medical" name="medical"><br>
      <label for="staff_Id">Staff_Id:</label><br>
      <input type="number" id="staff_Id" name="staff_Id"><br>
      <br>
      <input type="submit" value="Add">
    </form>
  </div>
</body>