<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addnewmaid.css') }}">
</head>
<body>
    <h1 class="center">Helpers List</h1>
    <table style="width:100%">
        <thead class="center">
            <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
        </thead>
        <tbody>
            <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
        </tbody>
      </table>
</body>
</html>